@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Orbitron:wght@900&family=Poppins&family=Teko:wght@500;600;700&display=swap');

*{
    margin: 0;
}
body{
    font-family: 'Teko', sans-serif;
}
.btn{
    font-family: inherit;
    cursor: pointer;
    outline: 0;
    font-size: 1.05rem;
}
.container{
    min-height: 100vh;
}
.meal-container{
    padding: 2rem;
}

/* Meal search style */
.meal-search{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 5rem;
}
.meal-search h1{
    font-size: 3rem;
    padding-bottom: 2rem;
}
.meal-search blockquote{
    font-size: 1.4rem;
}
.search-box{
    display: flex;
    align-items: stretch;
    justify-content: center;
    padding: 1.2rem 0;
    width: 50%;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    
}
.search-box input{
    width: 100%;
    border-bottom-left-radius: 2rem;
    border: 1px solid red;
    outline: none;
    padding-left: 2rem;
    font-size: 1rem;
    color: red;
    overflow: hidden;
}
.search-box .btn{
    width: 55px;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border: none;
    background-color: red;
    text-align: center;
    color: white;
    font-size: 1.3rem;
}
.search-box input::placeholder{
    color:red ;
}

/*  meal proposed */

.meal-proposed {
    text-align: center;
    margin-top: 2rem;
}
.meal-proposed .title{
    font-size: 2rem;
}
.meal {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    padding-top: 2rem;
  }
  .meal .meal-item{
    width: 100%;
    width: 100%;
    background-color: #f5f6fa;
    box-shadow: 1px 1px 9px 8px #dcdde1;
    border-radius: 2rem;
    overflow: hidden;
  }
  .meal .meal-item img{
    width: 100%;
  }
  .meal .meal-item h3{
    font-size: 1.5rem;
    padding: .5rem;
  }
  .meal .meal-item .btn{
    padding: 1rem;
    width: 100%;
    border: none;
    background-color: #ddd7c994;
    font-size: 1.3rem;
  }

  /* details-container */
  .details-container{
    text-align: center;
    position: fixed; 
    top: 50%;
    left: 50%;
    width: 90%;
    text-align: center;
     display: none;
    flex-direction: column;
    justify-content: center;
    background-color: #EA2027;
    color: white;
    padding: 1rem;
    border-radius: 40px;
    transform: translate(-50% , -50%);
    height: 85%;

  }
  .details-container button{
    display: flex;
    position: absolute;
    top: 1rem;
    right: 1rem;
    background-color: #ea2027;
    border: none;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
  }
  .details-container h2 {
    font-size: 3rem;
  }
  .details-container p{
    font-size: 1.5rem;
    color: black;
  }
  .Instructions{
    padding: 1rem;
  }
  .Instructions p{
    font-size: 1.4rem !important;
    color: white !important;
  }
  .Instructions h3{
    font-size: 2rem;
  }
  .details-container .recipe-vedio{
    background-color: #1f1b1b;
    padding: 1rem;
    width: 95.6%;
    text-align: center;
    position: absolute;
    top: 95%;
    left: 0px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  .details-container .recipe-img{
    margin-bottom: 3rem;
  }
  .details-container a{
    color: white;
    font-size: 1.4rem;
    text-decoration: none;
  }
  .recipe-img img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
  }
  @media (max-width:768px) {
    .Instructions p{
      font-size: 1rem !important;
      padding: 0;

    }
    .Instructions{
      padding: 0;
    }
    .meal{
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .display{
    display: block;
    
  }